.container { 
    max-width: 60em;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    font:1.2em/1.62 Georgia, Times, Times, Serif;
    font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: black;
}
@media (prefers-color-scheme: dark){
  body {color:#fff;background:#2b2d2f;}
  title {color:white}
  a {color:white}

}
@media screen and (max-width: 800px){
  .container {
    display: inline-block;
  }
  .nav-link-item {display: inline-block;}
}
.nav-links {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
  text-decoration: none;
}
.nav-link-item {
  padding-right: .5rem;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
}
.nav-link-text {
  color: black;
  text-decoration: underline;
}
.site-title {
  font-weight: 700;
  margin-bottom: -0.5rem;
  font-family: sans-serif;
}
.content {
  margin-top:-10px;
}
footer {
  margin-top:60px;
  margin-bottom:20px;
}
.blog-link {
  text-align: left;
  display: inline;
  text-decoration: none;
}
.blog-date {
  float: right;
}


 