
.layout-module--container--YM7Lx {
    max-width: 40em;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    font:1.2em/1.62 sans-serif;
}
@media (prefers-color-scheme: dark){
  body {color:#fff;background:#2b2d2f;}
      title {color:white}
  a:link {color:#9cf}
  a:hover, a:visited:hover {color:#cef}
  a:visited {color:#c9f}
}
@media screen (max-width: 480px){
  .layout-module--container--YM7Lx {font-size: 90%;} 
}	
@media screen and (min-width: 481px){
  .layout-module--container--YM7Lx {font-size: 100%;} 
} 
.layout-module--nav-links--1VlO2 {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem;
}
.layout-module--nav-link-item--31U8T {
  padding-right: 1.3rem;
}
.layout-module--site-title--16llq {
  font-weight: 700;
  margin-bottom: -0.5rem;
}


 
